.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  box-shadow: 3px 3px blue, -1em 0 0.4em black;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*HL7Validator CSS below*/

textarea {
  width: 50%;
  height: 260px;
}

/*temp*/

#useful-utilities {
  float: left;
  margin: 80px;
  padding: 25px;
  width: 200px;
  height: 200px;
  background: lightblue;
  border: 2px solid black;
}

#container {
  margin-right: 10%;
}

#results {
  text-align: left;
  margin-left: 415px;
  background: lightyellow;
  padding-left: 50px;
}

#severity-score-display {
  color: red;
  font-weight: bold;
}

li {
  text-align: left;
}

button {
  margin: 10px;
  height: 30px;
  font-size: 14px;
}
